{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/service.css">


{% endblock %}
{% block body %}
    <h1 class="titre">Service index</h1>

    <table class="table  table-info t">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                {% if is_granted('ROLE_ADMIN') %}  
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.libelle }}</td>
                <td>{{ service.description }}</td>
                {% if is_granted('ROLE_ADMIN') %}  
                <td> 
                    <a href="{{ path('service_show', {'id': service.id}) }}"class="btn btn-info">show</a>
                    <a href="{{ path('service_edit', {'id': service.id}) }}"class="btn btn-info">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        {% if is_granted('ROLE_ADMIN') %}  
        <a href="{{ path('service_new') }}"class="btn btn-info">Create new</a>
        {% endif %}
    </table>
  
{% endblock %}
