{% extends 'base.html.twig' %}
{% block title%} Liste des Utilisateurs{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/clients.css">


{% endblock %}
{% block body %}
<h1 class="titre">Litse des Utilisateurs</h1>

 <table id="users" class="table table-info t">
      <thead>
        <tr>
          <th>Id</th>
          <th>email</th>
          <th>roles</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for client in clients %}
          <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.email }}</td>
             <td>
                {% for role in client.roles %}
                 {% if role=="ROLE_USER" %}
                      Utilisateur
                {% elseif role=="ROLE_ADMIN" %}
                      Administrateur
                 {% endif %}
                {% endfor %}
             </td>
           <td>
              <a href="{{ path('client_edit', {'id': client.id }) }}" class="btn btn-dark">Modifier</a>
              <a href="{{ path('admin_modifier_client', {'id': client.id }) }}" class="btn btn-info">Modifier Role</a>
              {{ include('client/_delete_form.html.twig') }}
            </td>
          </tr>
         
        {% endfor %}
      </tbody>
    </table>

{% endblock %}